@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: JakartaBold;
  src: url("../fonts/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: JakartaMedium;
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: JakartaLight;
  src: url("../fonts/PlusJakartaSans-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "JakartaBold", sans-serif;
  transition: all 0.4s ease-in-out;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

button {
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
}

//body, html, #root, .wrapper {
//  height: 100%;
//}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-50 {
  width: 100%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-25 {
  width: 100%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-33 {
  width: 100%;
  max-width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

//* navbar
.navbar {
  height: 90px;
  width: 100%;
  background: #f9f9f9;

  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 17rem;

    a {
      background: #4475f2;
      color: #fff;
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 0.5rem 2rem;
      border-radius: 6px;
    }

    p {
      font-size: 1.2rem;
      color: #011f3b;
      text-transform: uppercase;
    }
  }
}

.wrapper {
  position: relative;
}

.blur {
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  transition: all .2s ease-in-out;

  &.active {
    background: rgba(38, 38, 38, 0.37);
    opacity: 1;
    visibility: visible;
  }
}

.main-content {
  display: flex;
  justify-content: center;
  margin-left: 24rem;

  &.active {
    margin-left: 22rem;
  }
}

//sidebar
.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 278px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all .4s ease-in-out;
  overflow: hidden;

  .sidebar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border-bottom: 1px solid #F6F6F7;

    .sidebar-top-left {
      display: flex;
      align-items: center;

      .sidebarToggle {
        display: none;
      }

      p {
        white-space: nowrap;
        font-size: 18px;
        color: #011f3b;
      }
    ;

      img {
        width: 50px;
        height: 50px;
        margin-right: .4rem;
      }
    }
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;

    .sidebar-itemnav {
      a {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 35px;

        img {
          width: 24px;
          height: 24px;
          margin-right: 1rem;
        }

        span {
          color: #8D91A0;
          font-size: 18px;
        }
      }
    }
  }
}

.sidebar.active {
  width: 100px;
  transition: all .4s ease-in-out;

  .sidebar-top {
    .sidebar-top-left {
      p {
        display: none;
      }
    }
  }

  .sidebar-items {
    .sidebar-itemnav {
      a {
        img {
          width: 24px;
          height: 24px;
          margin-right: 1rem;
        }

        span {
          display: none;
        }
      }
    }
  }
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px 0;
  position: relative;
  max-width: 1340px;

  .homepage-bg {
    border-radius: 22px;
  }

  p {
    position: absolute;
    text-transform: uppercase;
    font-size: 36px;
    color: #011F3B;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 7rem;
    background: #1E40AF;
    width: 106px;
    height: 48px;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
  }
}

.infoCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1340px;
  margin: 41px 0;

  .card-bg {
    border-radius: 22px;
    width: 1340px;
  }

  .infoCard {
    position: absolute;
    background: #fff;
    border-radius: 12px;
    width: 700px;

    .infoCardBanner {
      background: #007856;
      width: 100%;
      height: 90px;
      border-radius: 12px 12px 0 0;
    }

    .infoCardTop {
      display: flex;
      margin: 0 7rem;

      .infoCardTopLeft {
        display: flex;
        width: 50%;
        height: 100%;

        .infoCardUtils {
          padding: 0.5rem;

          p {
            color: #23262F;
            padding: .5rem 0;
          }

          span {
            font-family: "Plus Jakarta Sans Medium", sans-serif;
            color: #87898E;
          }
        }
      }
    }

    .infoCardContent {
      display: flex;
      flex-direction: column;
      margin: 32px 114px;

      .infoCardContent-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;

        p {
          color: #87898E;
          font-family: "Plus Jakarta Sans Medium", sans-serif;
        }
      }
    }

    .infoCardFooter {
      padding-bottom: 32px;

      .infoCardFooterSection {
        display: flex;
        align-items: center;
        margin-left: 114px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            color: #3772FF;
            margin: 0 10px;
          }
        }
      }

      .infoCardFooterButtons {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }


  }
}


.students-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px 0;
  position: relative;
  max-width: 1340px;

  .studentsModalError {
    position: absolute;
    font-size: 36px;
    color: #fff;
  }

  .homepage-bg {
    border-radius: 22px;
    width: 1340px;
  }

  .table-container {
    position: absolute;

    .limiter {
      width: 100%;
      margin: 0 auto;

      .container-table100 {
        width: 100%;
        max-height: 650px;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 10px;

        .wrap-table100 {
          width: 960px;
          overflow: hidden;

          .table {
            width: 100%;
            display: table;
            margin: 0;

            .row {
              display: table-row;
              background: #fff;

              &:hover {
                background-color: #ececff;
              }

              .header {
                color: #ffffff;
                background: #ffffff;
              }

              .cell {
                display: table-cell;

                &:nth-child(1) {
                  width: 0;
                  padding-left: 40px;
                }

                &:nth-child(2) {
                  width: 160px;

                  a {
                    color: #1A1A1A;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    word-break: break-all;
                  }

                  p {
                    color: #808080;
                    font-size: .8rem;
                  }
                }

                &:nth-child(3) {
                  border: 1px solid #E4E4EF;
                  width: 250px;
                }

                &:nth-child(4) {
                  width: 1rem;
                  padding: 0 1rem;
                  border: 1px solid #E4E4EF;

                  img {
                    margin: 0 10px;
                  }
                }

              }

            }
          }

        }

      }
    }
  }

  .add-students {
    background: #fff;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2rem;
    left: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .delete-students {
    left: auto;
    right: 4rem;
  }
}

.studentModal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  width: 722px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 90;
  transform: scale(.5);
  transition: opacity 300ms ease-in-out,
  visibility 300ms ease-in-out,
  transform 1000ms ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
  }

  .studentModalContent {

    .studentModalContentP {
      color: #6B7280;
    }

    .studentModalInput {
      width: 100%;
      height: 46px;
      border-radius: 6px;
      padding: 0 1rem;
      margin-bottom: 1rem;
      background-color: #F5F5F5;
    }

    .studentModalLabel {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #011F3B;
      margin-bottom: 10px;
    }
  }

  .studentModalfooter {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .studentModalheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    button {
      i {
        color: #6B7280;
      }
    }
  }
}


//table things

.student-table-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}


.row .cell {
  font-family: "Plus Jakarta Sans Medium", sans-serif;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding: 10px;
  border-bottom: 1px solid #E4E4EF;
}

.row.header {
  .cell {
    font-family: "Plus Jakarta Sans Medium", sans-serif;
    font-size: 18px;
    color: #000000;
    padding-left: 1rem;
    line-height: 1.2;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row {
    .header {
      padding: 0;
      height: 0;
    }
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: "Plus Jakarta Sans Light", sans-serif;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;

    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .row .cell {
    font-family: JakartaBold, sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}

//table end


footer {
  background: #2563EB;
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  cursor: pointer;
  position: relative;
}

.tooltip::before,
.tooltip::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tooltip:hover::before,
.tooltip:hover::after, {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

.tooltip::after {
  background: #ffffff;
  border-radius: .25em;
  bottom: 3rem;
  color: #011F3B;
  content: attr(data-tip);
  margin-left: -4rem;
  padding: 1rem;
  transition: all .3s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
  transform: scale(.6) translateY(50%);
  width: max-content;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}

.tooltip:hover::after, {
  transition: all .4s cubic-bezier(.84, -0.18, .31, 1.26);
}

@media (max-width: 760px) {
  .tooltip::after {
    font-size: .75em;
    margin-left: -5em;
    width: 10em;
  }
}

//* responsive
@media only screen and (max-width: 600px) {

  .studentModal {
    width: 400px;
  }

  .col-33 {
    max-width: 100%;
  }

  .sidebar {
    z-index: 10;
    width: 278px;

    &.active {
      width: 0;
    }

    .sidebar-top {
      .sidebar-top-left {
        .sidebarToggle {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

  }

  $baseWidth: 550px;

  .navbar {
    .navbar-container {
      padding: 1rem;
      margin-left: 3rem;
    }
  }

  .main-content {
    margin-left: 0;
    overflow: hidden;

    &.active {
      margin-left: 0;
    }
  }

  .homepage-container {
    margin: 40px 0;

    p {
      font-size: 1rem;
    }

    a {
      margin-top: 23%;
    }

    .homepage-bg {
      width: 95%;
    }

  }

  .students-container {
    width: 100%;
    margin: 0;

    .add-students {
      left: 1rem;
      bottom: 2rem;
      z-index: 5;
    }

    .delete-students {
      left: auto;
      right: 1rem;
      bottom: 2rem;
      z-index: 5;
    }

    .table-container {
      width: 70%;
      border-radius: 10px;

      .limiter {
        width: 100%;

        .container-table100 {
          .wrap-table100 {
            width: 400px;
            border-radius: 10px;

            .table {
              .row {
                .cell {
                  &:nth-child(1) {
                    display: none;
                  }

                  &:nth-child(3) {
                    display: none;
                  }

                  &:nth-child(4) {
                    display: none;
                  }
                }

                .cell {
                  width: 0 !important;

                  &::before {
                    min-width: 0;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  .infoCardContainer {
    width: 100%;
    margin: 0;

    .card-bg {
      width: 1340px;
    }

    .infoCard {
      width: 90%;
    }
  }

}

@media only screen and (min-width: 600px) {

  .studentModal {
    width: 500px;
  }

  .col-33 {
    max-width: 100%;
  }

  .sidebar {
    z-index: 10;
    width: 278px;

    &.active {
      width: 0;
    }

    .sidebar-top {
      .sidebar-top-left {
        .sidebarToggle {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

  }

  $baseWidth: 550px;

  .navbar {
    .navbar-container {
      padding: 1rem;
      margin-left: 3rem;
    }
  }

  .main-content {
    margin-left: 0;
    overflow: hidden;

    &.active {
      margin-left: 0;
    }
  }

  .homepage-container {
    margin: 40px 0;

    p {
      font-size: 1.3rem;
    }

    a {
      margin-top: 7rem;
    }

    .homepage-bg {
      width: 530px;
    }

  }

  .students-container {
    width: 100%;
    margin: 0;

    .add-students {
      left: 1rem;
      bottom: 2rem;
      z-index: 5;
    }

    .delete-students {
      left: auto;
      right: 1rem;
      bottom: 2rem;
      z-index: 5;
    }

    .homepage-bg {
      width: 1340px;
    }

    .table-container {
      width: 70%;
      border-radius: 10px;

      .limiter {
        width: 100%;

        .container-table100 {
          .wrap-table100 {
            width: 400px;
            border-radius: 10px;

            .table {
              .row {
                .cell {
                  &:nth-child(1) {
                    display: none;
                  }

                  &:nth-child(3) {
                    display: none;
                  }

                  &:nth-child(4) {
                    display: none;
                  }
                }

                .cell {
                  width: 0 !important;

                  &::before {
                    min-width: 0;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  .infoCardContainer {
    width: 100%;
    margin: 0;

    .card-bg {
      width: 1340px;
    }

    .infoCard {
      width: 90%;
    }
  }

}

@media only screen and (min-width: 992px) {

  .col-33 {
    max-width: 33%;
  }

  .studentModal {
    width: 700px;
  }

  .sidebar {
    z-index: 10;
    width: 278px;

    &.active {
      width: 0;
    }

    .sidebar-top {
      .sidebar-top-left {
        .sidebarToggle {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

  }

  $baseWidth: 550px;

  .navbar {
    .navbar-container {
      padding: 1rem;
      margin-left: 3rem;
    }
  }

  .main-content {
    margin-left: 0;
    overflow: visible;

    &.active {
      margin-left: 0;
    }
  }

  .homepage-container {
    margin: 40px 0;

    p {
      font-size: 1.5rem;
    }

    a {
      margin-top: 7rem;
    }

    .homepage-bg {
      width: 700px;
    }

  }

  .students-container {

    .homepage-bg {
      width: 95%;
    }

    .delete-students{
      left: auto !important;
      right: 3rem;
    }

    .add-students{
      left: 3rem;
    }

    .table-container {
      border-radius: 10px;

      .limiter {
        width: 80%;

        .container-table100 {
          max-height: 450px;

          .wrap-table100 {
            width: 100%;

            .table {
              .row {
                .cell {
                  &:nth-child(1) {
                    display: table-cell;
                  }

                  &:nth-child(3) {
                    display: table-cell;
                  }

                  &:nth-child(4) {
                    display: table-cell;
                  }
                }

                .cell {
                  width: 0 !important;

                  &::before {
                    min-width: 0;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  .infoCardContainer {
    width: 100%;
    margin: 40px 0;

    .card-bg {
      width: 99%;
    }

    .infoCard {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 1200px) {

  .sidebar {
    z-index: 10;
    width: 278px;

    &.active {
      width: 100px;
    }

    .sidebar-top {
      .sidebar-top-left {
        .sidebarToggle {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;

          img {
            width: 25px;
            height: 25px;
          }

        }
      }
    }

    &.active {
      .sidebar-top {
        .sidebar-top-left {
          .sidebarToggle {
            display: none;
          }
        }
      }
    }

  }

  $baseWidth: 550px;

  .navbar {
    .navbar-container {
      padding: 1rem;
      margin-left: 3rem;
    }
  }

  .main-content {
    margin-left: 8rem;

    &.active {
      margin-left: 8rem;
    }
  }

  .homepage-container {
    margin: 40px 0;

    p {
      font-size: 2rem;
    }

    a {
      margin-top: 10rem;
    }

    .homepage-bg {
      width: 900px;
    }

  }

  .students-container {
    width: 100%;
    height: auto;
    margin: 40px 0;

    .add-students {
      left: 4rem;
      bottom: 1rem;
      z-index: 5;
    }

    .delete-students {
      right: 4rem;
      left: auto;
      bottom: 1rem;
      z-index: 5;
    }

    .table-container {
      border-radius: 10px;

      .limiter {
        width: 100%;

        .container-table100 {

          .wrap-table100 {
            width: 100%;

            .table {
              .row {
                .cell {
                  &:nth-child(1) {
                    display: table-cell;
                  }

                  &:nth-child(3) {
                    display: table-cell;
                  }

                  &:nth-child(4) {
                    display: table-cell;
                  }
                }

                .cell {
                  width: 0 !important;

                  &::before {
                    min-width: 0;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

@media only screen and (min-width: 1250px) {

  .homepage-container {
    margin: 40px 0;

    .homepage-bg {
      width: 90%;
      display: block;
    }
  }

  .sidebar {
    z-index: 10;
    width: 278px;

    &.active {
      width: 100px;
    }

    .sidebar-top {
      .sidebar-top-left {
        .sidebarToggle {
          display: none;
        }
      }
    }

  }

  .main-content {
    margin-left: 20rem;

    &.active {
      margin-left: 4rem;
    }
  }

  .navbar {
    .navbar-container {
      padding: 1rem 5rem;
      margin-left: 20rem;

      &.active {
        margin-left: 3rem;
      }
    }
  }

  .students-container {
    width: 100%;
    height: auto;
    margin: 40px 0;

    .homepage-bg {
      width: 95%;
    }

    .add-students {
      left: 3rem;
      bottom: 1rem;
      z-index: 5;
    }

    .delete-students {
      right: 3rem;
      left: auto;
      bottom: 1rem;
      z-index: 5;
    }

    .table-container {
      width: 70%;
      box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
      border-radius: 10px;

      .limiter {
        width: 100%;

        .container-table100 {
          height: 70%;

          .wrap-table100 {
            width: 100%;

            .table {
              .row {
                .cell {
                  &:nth-child(1) {
                    display: table-cell;
                  }

                  &:nth-child(3) {
                    display: table-cell;
                  }

                  &:nth-child(4) {
                    display: table-cell;
                  }
                }

                .cell {
                  width: 0 !important;

                  &::before {
                    min-width: 0;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  .infoCardContainer {
    width: 100%;
    margin: 40px 0;

    .card-bg {
      width: 99%;
    }

    .infoCard {
      width: 40%;
    }
  }

}