@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: JakartaBold;
  src: url("../fonts/PlusJakartaSans-Bold.ttf");
}
@font-face {
  font-family: JakartaMedium;
  src: url("../fonts/PlusJakartaSans-Medium.ttf");
}
@font-face {
  font-family: JakartaLight;
  src: url("../fonts/PlusJakartaSans-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "JakartaBold", sans-serif;
  transition: all 0.4s ease-in-out;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

button {
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 1rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-50 {
  width: 100%;
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-25 {
  width: 100%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-33 {
  width: 100%;
  max-width: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  height: 90px;
  width: 100%;
  background: #f9f9f9;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  margin-left: 17rem;
}
.navbar .navbar-container a {
  background: #4475f2;
  color: #fff;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.navbar .navbar-container p {
  font-size: 1.2rem;
  color: #011f3b;
  text-transform: uppercase;
}

.wrapper {
  position: relative;
}

.blur {
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 50;
  transition: all 0.2s ease-in-out;
}
.blur.active {
  background: rgba(38, 38, 38, 0.37);
  opacity: 1;
  visibility: visible;
}

.main-content {
  display: flex;
  justify-content: center;
  margin-left: 24rem;
}
.main-content.active {
  margin-left: 22rem;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 278px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.sidebar .sidebar-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  border-bottom: 1px solid #F6F6F7;
}
.sidebar .sidebar-top .sidebar-top-left {
  display: flex;
  align-items: center;
}
.sidebar .sidebar-top .sidebar-top-left .sidebarToggle {
  display: none;
}
.sidebar .sidebar-top .sidebar-top-left p {
  white-space: nowrap;
  font-size: 18px;
  color: #011f3b;
}
.sidebar .sidebar-top .sidebar-top-left img {
  width: 50px;
  height: 50px;
  margin-right: 0.4rem;
}
.sidebar .sidebar-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.sidebar .sidebar-items .sidebar-itemnav a {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 35px;
}
.sidebar .sidebar-items .sidebar-itemnav a img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}
.sidebar .sidebar-items .sidebar-itemnav a span {
  color: #8D91A0;
  font-size: 18px;
}

.sidebar.active {
  width: 100px;
  transition: all 0.4s ease-in-out;
}
.sidebar.active .sidebar-top .sidebar-top-left p {
  display: none;
}
.sidebar.active .sidebar-items .sidebar-itemnav a img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}
.sidebar.active .sidebar-items .sidebar-itemnav a span {
  display: none;
}

.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px 0;
  position: relative;
  max-width: 1340px;
}
.homepage-container .homepage-bg {
  border-radius: 22px;
}
.homepage-container p {
  position: absolute;
  text-transform: uppercase;
  font-size: 36px;
  color: #011F3B;
}
.homepage-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 7rem;
  background: #1E40AF;
  width: 106px;
  height: 48px;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
}

.infoCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1340px;
  margin: 41px 0;
}
.infoCardContainer .card-bg {
  border-radius: 22px;
  width: 1340px;
}
.infoCardContainer .infoCard {
  position: absolute;
  background: #fff;
  border-radius: 12px;
  width: 700px;
}
.infoCardContainer .infoCard .infoCardBanner {
  background: #007856;
  width: 100%;
  height: 90px;
  border-radius: 12px 12px 0 0;
}
.infoCardContainer .infoCard .infoCardTop {
  display: flex;
  margin: 0 7rem;
}
.infoCardContainer .infoCard .infoCardTop .infoCardTopLeft {
  display: flex;
  width: 50%;
  height: 100%;
}
.infoCardContainer .infoCard .infoCardTop .infoCardTopLeft .infoCardUtils {
  padding: 0.5rem;
}
.infoCardContainer .infoCard .infoCardTop .infoCardTopLeft .infoCardUtils p {
  color: #23262F;
  padding: 0.5rem 0;
}
.infoCardContainer .infoCard .infoCardTop .infoCardTopLeft .infoCardUtils span {
  font-family: "Plus Jakarta Sans Medium", sans-serif;
  color: #87898E;
}
.infoCardContainer .infoCard .infoCardContent {
  display: flex;
  flex-direction: column;
  margin: 32px 114px;
}
.infoCardContainer .infoCard .infoCardContent .infoCardContent-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.infoCardContainer .infoCard .infoCardContent .infoCardContent-section p {
  color: #87898E;
  font-family: "Plus Jakarta Sans Medium", sans-serif;
}
.infoCardContainer .infoCard .infoCardFooter {
  padding-bottom: 32px;
}
.infoCardContainer .infoCard .infoCardFooter .infoCardFooterSection {
  display: flex;
  align-items: center;
  margin-left: 114px;
}
.infoCardContainer .infoCard .infoCardFooter .infoCardFooterSection button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoCardContainer .infoCard .infoCardFooter .infoCardFooterSection button p {
  color: #3772FF;
  margin: 0 10px;
}
.infoCardContainer .infoCard .infoCardFooter .infoCardFooterButtons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.students-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 41px 0;
  position: relative;
  max-width: 1340px;
}
.students-container .studentsModalError {
  position: absolute;
  font-size: 36px;
  color: #fff;
}
.students-container .homepage-bg {
  border-radius: 22px;
  width: 1340px;
}
.students-container .table-container {
  position: absolute;
}
.students-container .table-container .limiter {
  width: 100%;
  margin: 0 auto;
}
.students-container .table-container .limiter .container-table100 {
  width: 100%;
  max-height: 650px;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 {
  width: 960px;
  overflow: hidden;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table {
  width: 100%;
  display: table;
  margin: 0;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row {
  display: table-row;
  background: #fff;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row:hover {
  background-color: #ececff;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .header {
  color: #ffffff;
  background: #ffffff;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell {
  display: table-cell;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(1) {
  width: 0;
  padding-left: 40px;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(2) {
  width: 160px;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(2) a {
  color: #1A1A1A;
  font-size: 1.2rem;
  line-height: 1.5;
  word-break: break-all;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(2) p {
  color: #808080;
  font-size: 0.8rem;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(3) {
  border: 1px solid #E4E4EF;
  width: 250px;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) {
  width: 1rem;
  padding: 0 1rem;
  border: 1px solid #E4E4EF;
}
.students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) img {
  margin: 0 10px;
}
.students-container .add-students {
  background: #fff;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.students-container .delete-students {
  left: auto;
  right: 4rem;
}

.studentModal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  width: 722px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 90;
  transform: scale(0.5);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out, transform 1000ms ease-in-out;
}
.studentModal.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}
.studentModal .studentModalContent .studentModalContentP {
  color: #6B7280;
}
.studentModal .studentModalContent .studentModalInput {
  width: 100%;
  height: 46px;
  border-radius: 6px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background-color: #F5F5F5;
}
.studentModal .studentModalContent .studentModalLabel {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #011F3B;
  margin-bottom: 10px;
}
.studentModal .studentModalfooter {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.studentModal .studentModalheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.studentModal .studentModalheader button i {
  color: #6B7280;
}

.student-table-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.row .cell {
  font-family: "Plus Jakarta Sans Medium", sans-serif;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding: 10px;
  border-bottom: 1px solid #E4E4EF;
}

.row.header .cell {
  font-family: "Plus Jakarta Sans Medium", sans-serif;
  font-size: 18px;
  color: #000000;
  padding-left: 1rem;
  line-height: 1.2;
  padding-top: 19px;
  padding-bottom: 19px;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row .header {
    padding: 0;
    height: 0;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: "Plus Jakarta Sans Light", sans-serif;
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}
@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .row .cell {
    font-family: JakartaBold, sans-serif;
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}
footer {
  background: #2563EB;
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  cursor: pointer;
  position: relative;
}

.tooltip::before,
.tooltip::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

.tooltip::after {
  background: #ffffff;
  border-radius: 0.25em;
  bottom: 3rem;
  color: #011F3B;
  content: attr(data-tip);
  margin-left: -4rem;
  padding: 1rem;
  transition: all 0.3s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
  width: max-content;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.tooltip:hover::after {
  transition: all 0.4s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@media (max-width: 760px) {
  .tooltip::after {
    font-size: 0.75em;
    margin-left: -5em;
    width: 10em;
  }
}
@media only screen and (max-width: 600px) {
  .sidebar {
    z-index: 10;
    width: 278px;
  }
  .sidebar.active {
    width: 0;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle img {
    width: 25px;
    height: 25px;
  }

  .navbar .navbar-container {
    padding: 1rem;
    margin-left: 3rem;
  }

  .main-content {
    margin-left: 1rem;
  }
  .main-content.active {
    margin-left: 1rem;
  }

  .homepage-container {
    margin: 0;
  }
  .homepage-container p {
    font-size: 2rem;
  }
  .homepage-container a {
    margin-top: 10rem;
  }
  .homepage-container .homepage-bg {
    max-width: max-content;
    height: max-content;
  }

  .students-container {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .students-container .homepage-bg {
    display: none;
  }
  .students-container .add-students {
    left: 0;
    bottom: 5rem;
    z-index: 5;
  }
  .students-container .delete-students {
    left: 0;
    bottom: 2rem;
    z-index: 5;
  }
  .students-container .table-container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .students-container .table-container .limiter {
    width: 100%;
  }
  .students-container .table-container .limiter .container-table100 {
    max-height: 600px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 {
    width: 400px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(1) {
    display: none;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(3) {
    display: none;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) {
    display: none;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell {
    width: 0 !important;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell::before {
    min-width: 0;
  }
}
@media only screen and (min-width: 600px) {
  .sidebar {
    z-index: 10;
    width: 278px;
  }
  .sidebar.active {
    width: 0;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle img {
    width: 25px;
    height: 25px;
  }

  .navbar .navbar-container {
    padding: 1rem;
    margin-left: 3rem;
  }

  .main-content {
    margin-left: 1rem;
  }
  .main-content.active {
    margin-left: 1rem;
  }

  .homepage-container {
    margin: 0;
  }
  .homepage-container p {
    font-size: 2rem;
  }
  .homepage-container a {
    margin-top: 10rem;
  }
  .homepage-container .homepage-bg {
    max-width: max-content;
    height: max-content;
  }

  .students-container {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .students-container .homepage-bg {
    display: none;
  }
  .students-container .add-students {
    left: 0;
    bottom: 5rem;
    z-index: 5;
  }
  .students-container .delete-students {
    left: 0;
    bottom: 2rem;
    z-index: 5;
  }
  .students-container .table-container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .students-container .table-container .limiter {
    width: 100%;
  }
  .students-container .table-container .limiter .container-table100 {
    max-height: 600px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 {
    width: 400px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(1) {
    display: none;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(3) {
    display: none;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) {
    display: none;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell {
    width: 0 !important;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell::before {
    min-width: 0;
  }
}
@media only screen and (min-width: 992px) {
  .sidebar {
    z-index: 10;
    width: 278px;
  }
  .sidebar.active {
    width: 0;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle img {
    width: 25px;
    height: 25px;
  }

  .navbar .navbar-container {
    padding: 1rem;
    margin-left: 3rem;
  }

  .main-content {
    margin-left: 1rem;
  }
  .main-content.active {
    margin-left: 1rem;
  }

  .homepage-container {
    margin: 0;
  }
  .homepage-container p {
    font-size: 2rem;
  }
  .homepage-container a {
    margin-top: 10rem;
  }
  .homepage-container .homepage-bg {
    max-width: max-content;
    height: max-content;
  }

  .students-container {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
  .students-container .homepage-bg {
    display: none;
  }
  .students-container .add-students {
    left: 0;
    bottom: 5rem;
    z-index: 5;
  }
  .students-container .delete-students {
    left: 0;
    bottom: 2rem;
    z-index: 5;
  }
  .students-container .table-container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .students-container .table-container .limiter {
    width: 100%;
  }
  .students-container .table-container .limiter .container-table100 {
    max-height: 600px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 {
    width: 600px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(1) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(3) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell {
    width: 0 !important;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell::before {
    min-width: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .sidebar {
    z-index: 10;
    width: 278px;
  }
  .sidebar.active {
    width: 0;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle img {
    width: 25px;
    height: 25px;
  }

  .navbar .navbar-container {
    padding: 1rem;
    margin-left: 3rem;
  }

  .main-content {
    margin-left: 1rem;
  }
  .main-content.active {
    margin-left: 1rem;
  }

  .homepage-container {
    margin: 0;
  }
  .homepage-container p {
    font-size: 2rem;
  }
  .homepage-container a {
    margin-top: 10rem;
  }
  .homepage-container .homepage-bg {
    max-width: max-content;
    height: max-content;
  }

  .students-container {
    width: 100%;
    height: auto;
    margin: 40px 0;
  }
  .students-container .homepage-bg {
    width: 1100px;
    display: block;
  }
  .students-container .add-students {
    left: 4rem;
    bottom: 1rem;
    z-index: 5;
  }
  .students-container .delete-students {
    right: 4rem;
    left: auto;
    bottom: 1rem;
    z-index: 5;
  }
  .students-container .table-container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .students-container .table-container .limiter {
    width: 100%;
  }
  .students-container .table-container .limiter .container-table100 {
    max-height: 500px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 {
    width: 950px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(1) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(3) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell {
    width: 0 !important;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell::before {
    min-width: 0;
  }
}
@media only screen and (min-width: 1201px) {
  .sidebar {
    z-index: 10;
    width: 278px;
  }
  .sidebar.active {
    width: 0;
  }
  .sidebar .sidebar-top .sidebar-top-left .sidebarToggle {
    display: none;
  }

  .students-container {
    width: 100%;
    height: auto;
    margin: 40px 0;
  }
  .students-container .homepage-bg {
    width: 1340px;
    display: block;
  }
  .students-container .add-students {
    left: 2rem;
    bottom: 1rem;
    z-index: 5;
  }
  .students-container .delete-students {
    right: 2rem;
    left: auto;
    bottom: 1rem;
    z-index: 5;
  }
  .students-container .table-container {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  .students-container .table-container .limiter {
    width: 100%;
  }
  .students-container .table-container .limiter .container-table100 {
    max-height: 700px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 {
    width: 1200px;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(1) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(3) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell:nth-child(4) {
    display: table-cell;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell {
    width: 0 !important;
  }
  .students-container .table-container .limiter .container-table100 .wrap-table100 .table .row .cell::before {
    min-width: 0;
  }
}

/*# sourceMappingURL=style.css.map */
